{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
<div class="product-template" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

  {% assign header_title = product.title %}
  {% include 'page_header' with header_title %}

  <div class="wrapper wrapper--margins">

    <div class="product grid">

      {% assign current_variant = product.selected_or_first_available_variant %}
      {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">


      <div class="product__content grid__item one-half medium-down--one-whole">
      <h2 class="secondary-title hidden">{{ product.title }}</h2>

      <div class="product-description rte" itemprop="description">
        {{ product.description }}

      </div>



    </div>
      <div class="product__image grid__item one-half medium-down--one-whole">
        <div id="slider-{{ section.id }}" class="regular-slider flexslider">
          <ul class="slides">
            {% if product.images.size > 0 %}
            {%- assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <li class="slide" data-index="0" data-variant-img="{{ featured_image.id }}">
              <a class="image-popup">
                <div class="lazyload__image-wrapper supports-no-js" style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%;">
                  <img class="no-js lazyload"
                  src="{{ featured_image | img_url: '300x300' }}"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ featured_image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="width"
                  alt="{{ featured_image.alt | escape }}">
                </div>
                <noscript>
                  <img src="{{ featured_image | img_url: '1024x1024' }}"
                  srcset="{{ featured_image | img_url: '1024x1024' }} 1x, {{ featured_image | img_url: '1024x1024', scale: 2 }} 2x"
                  alt="{{ featured_image.alt }}" style="opacity:1;">
                  <style>
                  .flexslider .slides li {
                    display: block;
                  }
                </style>
              </noscript>
            </a>
          </li>
          {% if product.images.size > 1 %}
          {% assign index = 0 %}
          {% for image in product.images %}
          {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {% unless image contains featured_image %}
          {% assign index = index | plus: 1 %}
          <li class="slide" data-index="{{ index }}" data-variant-img="{{ image.id }}">
            <a class="image-popup">
              <div class="lazyload__image-wrapper supports-no-js" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                <img class="no-js lazyload"
                data-src="{{ img_url }}"
                data-widths="[320, 360, 375, 414, 568, 684, 720, 732, 736, 768, 1024, 1200, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                data-parent-fit="width"
                alt="{{ image.alt | escape }}">
              </div>
            </a>
          </li>
          {% endunless %}
          {% endfor %}
          {% endif %}
          {% else %}
          <li class="slide">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>



  </div>

  <div class="tab-container">
    <ul class="tab-links" id="tab-navbar">
      <li class="active"><a href="#tab1">Configuration</a></li>
      <li><a href="#tab2">Specification</a></li>
      <li><a href="#tab3">Resources</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab1" class="product-tab active">



            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

              <meta itemprop="priceCurrency" content="{{ shop.currency }}">

              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

              {% form 'product', product %}
              <div class="form__row">


                <div class="form__column twothird" id="item-configuration">
                
                  
                <select name="id" id="productSelect-{{ section.id }}" class="product-single__variants">
                  {% for variant in product.variants %}
                  {% if variant.available %}
                  
                  <option {% if variant == current_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                
                  {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                  {% endif %}
                  {% endfor %}

                </select>

                <div class="bold_options" data-product-id="{{ product.id }}"></div>
                </div>
                
                <div class="form__column third" id="configuration-price">
                {% if product.compare_at_price_max > product.price %}
                <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                {% else %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                {% endif %}
                <span id="ProductPrice-{{ section.id }}" class="h1 price visually-hidden" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  {{ current_variant.price | money }}
                </span>

                {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <p id="ComparePrice-{{ section.id }}" class="h3 price compare-price">
                  {{ current_variant.compare_at_price | money }}
                </p>
                {% endif %}
                
                <span class="h1 ">Total: </span>
                <span id="product-price" class="h1 price">{{current_variant.price | money }} </span>


                <div id="quantity-selector-{{ section.id }}" class="form__column quantity-selector">
                  <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qty-remove-defaults quantity-selector">
                </div>

                <div class="form__column{% if section.settings.enable_payment_button %} form__column--shopify-payment-btn{% endif %}">
                  <label>&nbsp;</label>
                  <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="btn btn--fill btn--regular btn--color{% if section.settings.enable_payment_button %} btn--shopify-payment-btn btn--secondary-accent{% endif %}">
                    <span id="AddToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
                  </button>
                  {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                  {% endif %}
                </div>
              </div>
              </div>

              {% endform %}
            </div>

      </div>


      <div id="tab2" class="product-tab">
       {% for variant in product.variants %}
       <div id="{{variant.id}}" class="variant-spec">
        <table >
          {% for metadata in variant.metafields["global"] %}
          {% assign keys = metadata[0] | split: '_' %}  
          <tr>
            <td style="width: 30%">{{keys[1]}}:</td><td>{{metadata[1]}}</td>
          </tr>
          {% endfor %}
        </table>
        
      </div>
      {% endfor %}
      

      <table >
        {% for metadata in product.metafields["global"] %}
        {% assign keys = metadata[0] | split: '_' %}
        {% assign key = keys[0] | plus: 0 %}
        {% if key  > 0  and key < 1000 %}
        {% if key == 100 or key == 300 or  key == 500 or key == 700 or key == 800 %}
        <tr><td colspan = "2"><h2>{{metadata[1]}} </h2></td></tr>  
        {% else %}  
        <tr>
          <td style="width: 30%" >{{keys[1]}}: </td><td>{{metadata[1]}}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
      </table>

    </div>

    <div id="tab3" class="product-tab">

      <table class="resource-table">
        {% for data in product.metafields["global"] %}
        {% assign keys = data[0] | split: "_"%}
          {% if keys[0] == "resource" %}
          {% assign index = data[1] | split: ", " | trim %}
          <tr><td style="width:30%"><h3>{{keys[1]}}</h3></td>
            <td style="width: 70%">
              <table class="resource-second-table">
                {%unless index[0] contains "https://"%}
          {% for value in index %}
            <tr><td><h4>{{value}}</h4>
              {% assign downloads = pages['downloads'].metafields.global[value] | split: "| " %}
              {% for download in downloads %}
              {% assign i = download | split: ", " %}
               <a href="{{i[0]}}" target="_blank">{{i[1]}}</a><br>
              
              {% endfor %}    
            </td></tr>
          {% endfor %}
          {% else %}

            <tr><td><a href= "{{index[0]}}" target="_blank">{{index[1]}}</a></td></tr>
            {% endunless %}
        </table>
        </td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>


      {% assign def = 0%}
      {% if def == 1 %}
      <table>
        {% for data in product.metafields["global"] %}
        {% assign keys = data[0] | split: "_"%}
          {% if keys[0] == "resource" %}
          {% assign index = data[1] | split: ", " | trim %}
          <tr><td style="width:30%"><h3>{{keys[1]}}</h3></td>
            <td style="width: 70%">
              <table>
            {% if keys[1] == "BIOS"%}
          {% for value in index %}
            <tr><td><h4>{{value}}</h4>{{pages['downloads'].metafields.bio[value]}}</td></tr>
          {% endfor %}
          {% else %}
            <tr><td><a href= "{{index}}"><h4>{{index}}</h4></a></td></tr>
            {% endif %}
        </table>
        </td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
      {% endif %}

      {% if def==1 %}
      <div class="button-row">{% if product.metafields["global"]["Data-Sheet"] %}<div class="col-2 bp-maroon-knockout" onclick="window.open('{{ product.metafields["global"]["Data-Sheet"] }}', '_blank');">Data Sheet</div> {% endif %} 
      {% if product.metafields["global"]["User-Manual"] %}<div class="col-2 bp-maroon-knockout" onclick="window.open('{{ product.metafields["global"]["User-Manual"] }}', '_blank');">User Manual</div> {% endif %} 
      {% if product.metafields["global"]["AVL"] %}<div class="col-2 bp-maroon-knockout" onclick="window.open('{{ product.metafields["global"]["AVL"] }}', '_blank');">AVL</div> {% endif %} 
      {% if product.metafields["global"]["Install-Guide"] %}<div class="col-2 bp-maroon-knockout" onclick="window.open('{{ product.metafields["global"]["Install-Guide"] }}', '_blank');">Install Guide</div> {% endif %} 
      {% if product.metafields["global"]["Product-Brief"] %}<div class="col-2 bp-maroon-knockout" onclick="window.open('{{ product.metafields["global"]["Product-Brief"] }}', '_blank');">Product Brief</div> {% endif %} 
    </div>
    {% endif %}
  </div>

</div>
</div>

{% assign def = 0%}
{% if def == 1 %}
{% if product.metafields["global"].size > 0 %}
<div id="premio-tabs">
  <div class="tabs">
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">Specifications</label>
    <div class="tab">
      <div class="mm-metafields">
        {% for metafield in product.metafields["global"] %}
        {% if metafield[0] != "Data-Sheet" and metafield[0] != "User-Manual" and metafield[0] != "AVL" and metafield[0] != "Install-Guide" and metafield[0] != "Product-Brief"
        and metafield[0] != "Ordering-Info" and metafield[0] != "SKU" %}
        {% unless metafield[0] contains "BIOS-Group" or metafield[0] contains "Firmware-Group" %}
        <div><h4>{{metafield[0] }}</h4>{{metafield[1] }}<br/><br/></div>
        {% endunless %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if product.metafields["global"]["Ordering-Info"] %}
    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Ordering Info</label>
    <div class="tab">
      <div><h4>{{product.metafields["global"]["SKU"]}}</h4>{{product.metafields["global"]["Ordering-Info"]}}<br/><br/></div>
    </div>
    {% endif %}
    {% if product.metafields["global"]["BIOS-Group-1-File-1"] or product.metafields["global"]["Firmware-Group-1-File-1"] or product.metafields["global"]["MFG-Group-1-File-1"] %}
    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">RESOURCES</label>
    <div class="tab">
      <div class="grid-container">
        {% if product.metafields["global"]["BIOS-Group-1-File-1"] %}
        <div class="row resources-row">
          <div class="col-1">
            <h4>BIOS</h4>
          </div>
          <div class="col-2">
            {% for i in (1..2) %}
            {% assign indexGroupName = "BIOS-Group-" | append: i %}
            {% if product.metafields["global"][indexGroupName] %} 
            <h5><u>{{product.metafields["global"][indexGroupName]}}</u></h5>
            {% endif %}
            {% for j in (1..4) %}
            {% assign indexFileName = indexGroupName | append: "-Filename-" | append: j %}
            {% assign indexFilePath = indexGroupName | append: "-File-" | append: j %}
            {% if product.metafields["global"][indexFileName] %}
            <a href="{{product.metafields["global"][indexFilePath]}}" class="download-link"><i class="fa fa-download"></i>{{product.metafields["global"][indexFileName]}}</a><br/>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if product.metafields["global"]["Firmware-Group-1-File-1"] %}
        <div class="row resources-row">
          <div class="col-1"><h4>FIRMWARE</h4></div>
          <div class="col-2">
            {% for i in (1..2) %}
            {% assign indexFirmwareGroupName = "Firmware-Group-" | append: i %}
            {% if product.metafields["global"][indexFirmwareGroupName] %} 
            <h5><u>{{product.metafields["global"][indexFirmwareGroupName]}}</u></h5>
            {% endif %}
            {% for j in (1..4) %}
            {% assign indexFirmwareFileName = indexFirmwareGroupName |append: "-Filename-" | append: j %}
            {% assign indexFirmawareFilePath = indexFirmwareGroupName | append: "-File-" | append: j %}
            {% if product.metafields["global"][indexFirmawareFilePath] %}
            <a href="{{product.metafields["global"][indexFirmawareFilePath]}}" class="download-link"><i class="fa fa-download"></i>{{product.metafields["global"][indexFirmwareFileName]}}</a><br/>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
    
  </div>
</div>
{% endif %}
</div>
</div>

{% endif %}

{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>
{% endunless %}

{% schema %}
{
  "name": "Product pages",
  "settings": [
  {
    "type": "checkbox",
    "id": "enable_payment_button",
    "label": "Show dynamic checkout button",
    "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "social_sharing_products",
    "label": "Enable product sharing",
    "default": true
  }
  ]
}
{% endschema %}
