{%- assign social_icons = false -%}

{% if
  settings.social_twitter != blank
  or settings.social_facebook != blank
  or settings.social_pinterest != blank
  or settings.social_instagram != blank
  or settings.social_snapchat != blank
  or settings.social_tumblr != blank
  or settings.social_youtube != blank
  or settings.social_vimeo != blank
  or settings.social_flickr != blank
  or settings.social_email != blank
  or settings.social_linkedin != blank
  or settings.social_google != blank
%}
  {%- assign social_icons = true -%}
{% endif %}
{% if social_icons %}
      <aside class="social-footer">
        <div class="wrapper display-table">
          <div class="display-table-cell">
            <ul class="inline-list social-icons">
              {% include 'footer_social-icons' %}
            </ul>
          </div>
        </div>
      </aside>
    {% endif %}

    <footer id="mk-footer" class="site-footer" role="contentinfo">

      <div class="wrapper">
		<div class="mk-padding-wrapper">
            		<div class="mk-col-1-4"><section id="text-2" class="widget widget_text mk-in-viewport">			<div class="textwidget"><p><a href="/"><br>
<img src="https://22uw5512s0y81avmnz1jeivq-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/premio-logo.png" alt="Premio"><br>
</a></p>
<p><strong><a href="mailto:sales@premioinc.com">sales@premioinc.com</a></strong></p>
<p><strong>626.839.3100<br>
800.977.3646</strong></p>
<div class="widgettitle">CONNECT<a href="https://www.linkedin.com/company/premio-inc-" target="_blank" rel="noopener"><br>
<img src="https://22uw5512s0y81avmnz1jeivq-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/linkedin-icon.png"></a><a href="https://twitter.com/premioinc" target="_blank" rel="noopener"><img src="https://22uw5512s0y81avmnz1jeivq-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/twitter-icon.png"></a><a href="https://www.facebook.com/premioinc/" target="_blank" rel="noopener"><img src="https://22uw5512s0y81avmnz1jeivq-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/fb-icon.png"></a></div>
</div>
		</section></div>
			<div class="mk-col-1-4"><section id="nav_menu-2" class="widget widget_nav_menu mk-in-viewport"><div class="widgettitle">LEARN ABOUT US</div><div class="menu-footer-menu-1-container"><ul id="menu-footer-menu-1" class="menu"><li id="menu-item-48" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48"><a href="/pages/about-us-server-pc-display-oem-manufacturer-premio"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>About Premio Inc.</a></li>
<li id="menu-item-1326" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1326"><a href="/pages/services-overview"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Services</a></li>
<li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a title="Blog" href="/blog"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Blog</a></li>
<li id="menu-item-948" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-948"><a href="https://premioinc.com/certifications/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Certifications</a></li>
<li id="menu-item-1006" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1006"><a href="https://premioinc.com/terms-conditions/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Terms &amp; Conditions</a></li>
<li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51"><a href="/contact/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Contact</a></li>
</ul></div></section></div>
			<div class="mk-col-1-4"><section id="nav_menu-3" class="widget widget_nav_menu mk-in-viewport"><div class="widgettitle">PREMIO SERVICES</div><div class="menu-footer-menu-2-container"><ul id="menu-footer-menu-2" class="menu"><li id="menu-item-951" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-951"><a href="/pages/customer-advocate/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Customer Advocate</a></li>
<li id="menu-item-953" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-953"><a href="/pages/flexible-manufacturing"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Flexible Mfg.</a></li>
<li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-954"><a href="/pages/lifecycle-management/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Lifecycle Mgmt.</a></li>
<li id="menu-item-956" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-956"><a href="/pages/product-engineering/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Product Eng.</a></li>
<li id="menu-item-955" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-955"><a href="/pages/global-delivery/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>On-Demand Logistics</a></li>
<li id="menu-item-957" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-957"><a href="/pages/quality-assurance/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Quality Assurance</a></li>
<li id="menu-item-950" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-950"><a href="/pages/customer-service/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Customer Service</a></li>
</ul></div></section></div>
			<div class="mk-col-1-4"><section id="nav_menu-5" class="widget widget_nav_menu mk-in-viewport"><div class="widgettitle">Partnerships</div><div class="menu-footer-menu-4-container"><ul id="menu-footer-menu-4" class="menu"><li id="menu-item-1022" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1022"><a href="www.candtsolution.com/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>C&amp;T Solution Inc</a></li>
<li id="menu-item-1021" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1021"><a href="http://www.echostreams.com/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>EchoStream</a></li>
<li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1020"><a href="https://premioinc.com/dell-oem-partnership/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Dell OEM Preferred</a></li>
</ul></div></section><section id="nav_menu-4" class="widget widget_nav_menu mk-in-viewport"><div class="widgettitle">SUPPORT</div><div class="menu-footer-menu-3-container"><ul id="menu-footer-menu-3" class="menu"><li id="menu-item-958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-958"><a href="https://premioinc.com/recycling/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Recycling</a></li>
<li id="menu-item-58" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-58"><a href="/find-a-representative/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Find a Rep</a></li>
<li id="menu-item-1003" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1003"><a href="https://oem-mgmt.premiopc.com/"><svg class="mk-svg-icon" data-name="" data-cacheid="2" style="height:14px; width: 5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 1792"><path d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>Virtual Factory Portal</a></li>
</ul></div></section></div>
	            <div class="clearboth"></div>
        </div>
          
        
        
        
        
        {% assign def = 0 %}
        {% if def == 1 %}
        
        <div class="h1 footer__logo" itemscope itemtype="http://schema.org/Organization">
          {% if section.settings.footer_logo != blank %}
          {%- assign img_url = section.settings.footer_logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
           {% if section.settings.footer_logo_max_width != empty %}
            {% capture image_size %}{{ section.settings.footer_logo_max_width | escape }}x{% endcapture %}
            <style>
              .footer__logo {
                max-width:{{ section.settings.footer_logo_max_width | escape }}px;
                margin: 0 auto;
              }
            </style>
           {% else %}
            {% assign image_size = "150x" %}
            <style>
              .footer__logo {
                max-width: {{ image_size | slice: -1 }}px;
              }
            </style>
           {% endif %}

            <a href="/" itemprop="url" class="footer__logo-link">
              {% comment %}<img src="{{ section.settings.footer_logo | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo">{% endcomment %}
              <img class="no-js lazyload supports-js"
                data-src="{{ img_url }}"
                data-widths="[90, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ section.settings.footer_logo.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ section.settings.footer_logo.alt | escape | default: shop.name }}">
              <noscript>
                <img src="{{ section.settings.footer_logo | img_url: image_size }}"
                  srcset="{{ section.settings.footer_logo | img_url: image_size }} 1x, {{ section.settings.footer_logo | img_url: image_size, scale: 2 }} 2x"
                  alt="{{ section.settings.footer_logo.alt | default: shop.name }}"
                  itemprop="logo">
              </noscript>
            </a>
          {% else %}
            <a href="/" itemprop="url" class="site-header__logo-text">{{ shop.name }}</a>
          {% endif %}
        </div>
	
        
        
        {% include 'newsletter' %}

        {% if section.settings.footer_linklist %}
          <div class="link-list">
            {% for link in linklists[section.settings.footer_linklist].links %}
              <a class="footer-link" href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          </div>
          <hr>
        {% endif %}

        <div class="copy">
          <p class="text">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <a href="/">{{ shop.name }}</a></p>
          <p class="powered">{{ powered_by_link }}</p>
        </div>

        {% assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,google_pay,interac,jcb,klarna,litecoin,maestro,master,paypal,shopify_pay,visa' | split: ',' %}
        {% if section.settings.footer_payment_enable and shop.enabled_payment_types != empty %}
          <div class="pay-icons">
            {% for type in shop.enabled_payment_types %}
              {% if payment_icons_available contains type %}
                {% include 'asset_svg' with type %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
		
        
        {% comment %}
        delete endif and ifdef for original content;
        {% endcomment %}
        
        {% endif %}
      </div>

    </footer>

{% schema %}
  {
  	"name": "Footer",
  	"settings": [
  		{
  			"type": "image_picker",
  			"id": "footer_logo",
  			"label": "Logo image",
  			"info": "200px wide .png recommended"
  		},
  		{
  			"type": "text",
  			"id": "footer_logo_max_width",
  			"label": "Custom logo width (in pixels)",
  			"default": "50",
  			"info": "Do not add the 'px' unit"
  		},
  		{
  			"type": "checkbox",
  			"id": "footer_newsletter_enable",
  			"label": "Show newsletter",
  			"default": false
  		},
  		{
  			"type": "link_list",
  			"id": "footer_linklist",
  			"label": "Menu",
  			"default": "footer",
        "info": "This menu won't show dropdown items"
  		},
  		{
  			"type": "checkbox",
  			"id": "footer_payment_enable",
  			"label": "Show payment methods"
  		}
  	]
  }
{% endschema %}
